<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PTS_For_Cut.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PTS_For_Cut.Properties.Settings>
            <setting name="ConnectWL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value />
            </setting>
            <setting name="userPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="WiFi_ip" serializeAs="String">
                <value />
            </setting>
            <setting name="Lan_ip" serializeAs="String">
                <value />
            </setting>
            <setting name="workGroup" serializeAs="String">
                <value />
            </setting>
            <setting name="printStickerX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="printStickerY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="printerName" serializeAs="String">
                <value />
            </setting>
            <setting name="LangSelectIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="whIP" serializeAs="String">
                <value />
            </setting>
            <setting name="Factory" serializeAs="String">
                <value />
            </setting>
            <setting name="PathSkillImg" serializeAs="String">
                <value />
            </setting>
            <setting name="empPicPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Sewing_Daily_Show" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Packing_Daily_Show" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DirectReport" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FontSizeSewingReportViewAll" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FontSizeSewingReportViewOutput" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="workShift" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FontSizeCuttingReportViewAll" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FontSizeCuttingReportViewOutput" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="FontSizePackingReportViewAll" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FontSizePackingReportViewOutput" serializeAs="String">
                <value>15</value>
            </setting>
        </PTS_For_Cut.Properties.Settings>
    </userSettings>
</configuration>